.aboutContent {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 74%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
}

.aboutContent::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.intro {
  position: relative;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

  width: 100%;
  height: 240px;
}

.titleWr {
  position: relative;
  display: flex;
  height: 240px;
  width: 30%;
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  font-size: 70px;
  line-height: 150%;
}

.titleWr::after {
  content: "";

  position: absolute;

  width: 1px;
  height: 80%;

  top: 8%;
  right: -20px;

  background: #b7ab98;
}

.sw {
  position: relative;
  display: flex;
  width: max-content;
  height: max-content;
}

.swBottom {
  color: #ffffff;
}

.swTop {
  color: transparent;
  background: linear-gradient(
    180deg,
    rgba(130, 130, 130, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sw::after {
  content: "";

  position: absolute;
  display: flex;

  width: 16px;
  height: 16px;

  /* bottom: 2.5vh; */
  bottom: 1vh;
  right: -20px;

  border-radius: 100%;
  background: linear-gradient(
    180deg,
    rgba(149, 123, 255, 1) 0%,
    rgba(89, 74, 153, 1) 100%
  );
}

/*  */

.textIntro {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 65%;

  padding: 10px 0 0 0;
}

.text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-size: 16px;
  line-height: 140%;

  font-weight: 400;
  color: #8a8a8a;

  margin: 0 0 4px 0;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  margin: 30px 0 0 0;
}

.content p {
  margin: 0 0 10px 0;
}

@media screen and (max-width: 1240px) {
  .aboutContent {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  /* .about-intro */

  .intro {
    flex-direction: column;
    width: 100%;
    height: max-content;
  }
  .titleWr {
    flex-direction: column;
    width: 100%;
  }
  .titleWr::after {
    height: 200px;
    right: 20px;
  }
  .aboutContent .textIntro {
    width: 100%;
    height: max-content;

    margin: 640px 0 0 0;
  }
  .about-intro {
    position: absolute;
    top: 280px;
    right: 0;
    height: 584px;
    width: 100%;
  }
}
