.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 94%;
  height: 48%;
  min-height: 320px;

  color: #e2e2e2;
}

.title {
  font-size: 2.5vh;
  line-height: 140%;

  width: 100%;
  height: 17%;
}

.advWr {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 83%;
  font-weight: 400;
}
.advItem {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  height: 30px;
  /* height: 38px; */

  margin-bottom: 8px;
  padding-left: 36px;

  border-radius: 30px;

  background-color: var(--mgrey);
}

.advItem::before {
  content: "";

  position: absolute;
  display: flex;

  width: 22px;
  height: 22px;

  left: 4px;

  border-radius: 100%;
  background-color: #dfe0df;

  background-image: url("/public/img/done.png");
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 64px;

  margin-top: 6px;
  padding: 0 8px;

  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #e2e2e2;

  background-color: var(--main-accent-color);

  cursor: pointer;

  border-radius: 30px;
}

.btn span {
  padding-right: 6px;
}

@media (min-width: 769px) and (max-width: 1240px) {
  .wrapper {
    width: 100%;
    height: auto;

    margin: 30px 0 30px 0;
  }

  .title {
    font-size: 18px;
    line-height: 140%;

    width: 100%;
    height: 100%;
  }

  .advWr {
    width: 100%;
  }

  .advItems {
    margin: 20px 0;
  }

  .btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max-content;
    height: 36px;

    margin-top: 6px;
    padding: 20px 20px;

    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: auto;

    margin: 30px 0 30px 0;
  }

  .title {
    font-size: 18px;
    line-height: 140%;

    width: 100%;
    height: 100%;
  }

  .advWr {
    width: 100%;
  }

  .advItems {
    margin: 20px 0;
  }

  .btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max-content;
    height: 36px;

    margin-top: 6px;
    padding: 20px 20px;

    font-size: 14px;
    line-height: 16px;
  }
}
