.asideContact {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;

  width: 6.5%;
  height: 100%;
}

.sm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 0px;
  line-height: 0px;

  width: 64px;
  height: 64px;

  color: #ffffff;

  border-radius: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;

  transition: all ease 0.5s;
}

/* Color */

.primary {
  background-color: #957bff;
}
.primary:hover {
  background-color: #957bff;
}

/* LINK */

.email {
  background-image: url("/public/img/mark_email.png");
}

.email::after {
  content: "";

  position: absolute;
  display: flex;

  width: 10px;
  height: 10px;

  right: 25%;
  top: 25%;

  border-radius: 100%;

  background-color: #fff;
}

@media (min-width: 769px) and (max-width: 1240px) {
  .asideContact {
    flex-direction: row;
    width: 90%;
    height: auto;

    margin: 0 auto 20px auto;
  }
}

@media (max-width: 768px) {
  .asideContact {
    flex-direction: row;
    width: 90%;
    height: auto;

    margin: 0 auto 20px auto;
  }
}
