.blogItems {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  width: 72.5%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
}

.blogItems::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: max-content;

  margin: 20px 8px 20px 0;

  color: #ffffff;
}

.container {
  display: flex;

  width: 300px;
  height: 1px;

  margin-top: 20px;

  background-color: #7d7d7d;
  transition: all 0.5s ease 0s, opacity 0.5s;
}

.progresBar {
  display: flex;
  width: 0%;
  height: 100%;

  background-color: #ffffff;
  transition: all 0.5s ease 0s, opacity 0.5s;
}

.countWr {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: max-content;

  margin-top: 20px;
}

.countWr span,
.countWr .text {
  display: flex;

  font-size: 16px;
  line-height: 140%;
  font-weight: 200;
}

.moreArticles {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 40px;
  margin: 30px 0;
  border-radius: 30px;

  text-transform: uppercase;
  color: #ffffff;

  border: 1px solid #3b3b3b;
  background-color: #957bff;
}

@media (max-width: 1240px) {
  .blogItems {
    width: 100%;
    height: max-content;
    padding: 0;
  }
}
